---
interface Props {
    description?: string;
    title: string;
}
const { title, description } = Astro.props;
---

<div class="flex justify-center flex-col items-center h-svh">
    <h1 class="text-4xl text-red">{title}</h1>
    <p class="text-lg">{description}</p>
</div>
